:root {
  --primary: #137fec;
  --bg-body: #f6f7f8;
  --text-main: #1e293b;
  --text-muted: #64748b;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}
